name: Nightly RC update

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  update-rc-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v24
      - uses: cachix/cachix-action@v15
        with:
          name: freecad-nix
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Update to latest commit
        run: scripts/env-run.sh scripts/update-rc-version.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Get short revision
        id: get_revision
        run: echo "shortRev=$(scripts/env-run.sh scripts/get-revision.sh)" >> $GITHUB_OUTPUT
      - name: Update nightly version
        run: |
          git add -A
          git commit -m "chore: Update packages/freecad_1-1 to ${{ steps.get_revision.outputs.shortRev }}"
          git push
